@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.btn{
  @apply text-slate-200 font-bold bg-blue-800 px-6 py-1 rounded-3xl hover:rounded hover:bg-amber-600 transition-all duration-300 ease-in
}
.email:placeholder-shown ~ .label-email, .pass:placeholder-shown ~ .label-pass, .name:placeholder-shown ~ .label-name{
  transform: translateY(-35px);
}
.form-div{
  @apply flex flex-col gap-2 justify-center items-start
}
.form-input{
  @apply border-b-2 w-full outline-none caret-amber-600 placeholder:text-transparent text-amber-600
}
.label-pass, .label-email, .label-name{
  transform: translateY(-55px);
  transition: all 0.3s ease;
  color: gray;
}
::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 10px;
}
